/* Box Dimensions/Properties */
.tradingcard{
    width: 310px;
    border: 1px solid #DCDCDC;
    box-shadow: 6px 6px 1px 0px;
    padding-right: .2em;
    padding-left: .7em;
    padding-bottom: .6em;
}

.infobox{
    width: 283px;
    border: 1px solid #DCDCDC;
    padding-right: .5em;
    padding-left: .5em;
}

.animalpicture{
    width: 300px;
    height: 200px;
    padding-bottom: .8em;
}

.funfact{
    font-style: italic;
}

.list-info{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

span{
    font-weight: bold;
}
